<script type="text/javascript">
  $("#menu").click(function(){
    $("#nav").slideToggle();
  });
  $(window).resize(function(){
    if(window.innerWidth > 768) {
      $("#nav").removeAttr("style");
    }
  });
</script>
<nav id ="nav">
  <div id="nav-logo"></div>
  <ul id="nav-menu">
    <li><a href="#">About Us</a></li>
    <li><a href="#">How It Works</a></li>
    <li><a href="#">Sign in with Facebook</a></li>
  </ul>
</nav>
